@import 'normalize.css';
@import './custom-media.css';
@import './vars.css';

body,
html {
  overflow-x: hidden;
  background-color: var(--bg-color);
}

main {
  background-color: inherit;
  padding-top: 2em;
  min-height: 30em;
}

.page-content {
  background-color: var(--bg-color);
  font-smoothing: antialiased;
  color: #111;
  padding: 1rem;
  max-width: var(--page-width);
  margin: 0 auto;
  font-size: 1.1em;
  font-family: 'Merriweather';
  font-weight: 300;
  line-height: 160%;
}
