.bio {
  margin-top: 2em;
}

.bio::after {
  content: '';
  display: block;
  clear: both;
}

.bio-picture {
  width: calc(var(--page-width) * 0.4);
  height: auto;
  margin-bottom: 0.5em;
}

.bio:nth-of-type(odd) {
  & .bio-picture {
    float: left;
    margin-right: 2em;
  }
}

.bio:nth-of-type(even) {
  & .bio-picture {
    float: right;
    margin-left: 2em;
  }
}
