header
  div.header-image
    img
    div.header-image__overlay

  div.logo

  nav
    ul
      li(class="about")
        a(href="/") About
      li(class="bios")
        a(href="/bios.html") Bios
      li(class="listen")
        a(href="/listen.html") Listen
      li(class="contact")
        a(href="/contact.html") Contact
