div.header-image
  img
  div.header-image__overlay

div.logo

nav
  ul
    li
      a(href="/") Home
    li
      a(href="/bios.html") Bios
    li
      a(href="/listen.html") Listen
    li
      a(href="/contact.html") Contact
