include mixins/main

+main("Bios", "bios")

  div.bio
    img.bio-picture(src="/katie.jpg")
    h2.bio-name Katie Smith
    p.bio-text
      | Katie Smith is a freelancer and private oboe studio teacher in the metro Atlanta area. She is a substitute for the Greenville Symphony and Georgia Symphony and has performed with the Atlanta Pops Orchestra, the Toccoa Symphony, the Northeast Atlanta Ballet Orchestra, and the Atlanta Philharmonic Orchestra. She has participated in masterclasses with esteemed oboists such as Joseph Robinson (former Principal Oboist of the New York Philharmonic), Shelly Sylar (Associate Principal Oboist of the New York Philharmonic), Peter Cooper (Principal Oboist of the Colorado Symphony), and Pedro Diaz (English Hornist of The Metropolitan Opera).
    p.bio-text
      | Mrs. Smith received her bachelor's degree in oboe performance at Baylor University under the direction of Dr. Doris DeLoach. She is currently pursuing her master's degree in oboe performance at Georgia State University under the direction of Dr. Lara Dahl. Katie currently resides in Canton with her husband and two children.

  hr

  div.bio
    img.bio-picture(src="/bora.jpg")
    h2.bio-name Bora Moon
    p.bio-text
      | Orginally from Seoul, South Korea, Bora Moon has become an established freelancer and clinician in the metro Atlanta area. She performs with various ensembles such as the Atlanta Pops Orchestra, Ludwig Symphony and Chamber Cartel. Mrs. Moon also enjoys her job as the clarinet instructor for numerous middle and high schools while maintaining a large studio of private clarinet and piano students. Many of Mrs. Moon's students are known to succeed in their school ensembles, All-State auditions and scholarship awards.
    p.bio-text
      | Also an accomplished pianist, Mrs. Moon regularly accompanies musicians and has held an accompanist position at the Kennesaw State University.
    p.bio-text
      | Mrs. Moon received her clarinet performance degree from Kennesaw State University.  She has studied under many esteemed clarinetists such as Ted Gurch of the Atlanta Symphony, John Warren, professor of clarinet at KSU, and Agnes Marchione. She studied piano with Judith Cole and David Watkins, both professors of piano at KSU.

  hr

  div.bio
    img.bio-picture(src="/sarah.jpg")
    h2.bio-name Sarah Fluker
    p.bio-text
      | Sarah Fluker is a freelance bassoonist and clinician in the metro Atlanta area. In September of 2015 she won the Second Bassoon position of the Waco Symphony Orchestra. She has also subbed with local orchestras such as Hendersonville Symphony, Georgia Symphony, and the Carrollton Symphony. Ms. Fluker is a member of the Coloratura Winds, a Texas-based woodwind quintet which one first place of the Texas division of the MTNA Chamber Music Competition, as well as first alternate of the Southern division of the MTNA Chamber Competition.
    p.bio-text
      | A Georgia native, Ms. Fluker received her Bachelor’s degree in Bassoon Performance at Kennesaw State University under the direction Laura Najarian of the Atlanta Symphony. She then received her Master’s Degree in Bassoon Performance at Baylor University under the direction of Dr. Ann Shoemaker.
    p.bio-text
      | In addition to her private instructors, Sarah has had masterclasses with many esteemed bassoonists such as the Grammy nominated soloist Martin Kuuskmann, Marion Reinhard from the Berlin Philharmonic Wind Quintet, Peter Kolkay of the Lincoln Chamber Society, and others. She has attended multiple summer programs such as the Hot Springs Music Festival and the Orford Musique Woodwind Chamber Workshop, where she was able to spend two weeks working under the direction of Stephane Levesque, Principal Bassoonist of the Montreal Symphony.
