include mixins/main

+main("Bios", "bios")

  div.bio
    img.bio-picture(src="/katie.jpg")
    h2.bio-name Katie Smith
    p.bio-text
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eros ipsum, consequat et dictum id, laoreet ut tortor. Nullam mauris odio, laoreet quis tellus sed, aliquet pretium tellus. Aliquam molestie urna in nibh ullamcorper, dictum consequat lorem lobortis. Quisque pretium pellentesque metus, non rhoncus risus vulputate sed. Nunc eu tellus urna. Fusce feugiat leo ut ultrices dapibus. Praesent sollicitudin orci ac diam tempus maximus. Aliquam non enim quis lacus egestas dictum. In ultricies dictum risus ac tempor. Vivamus congue scelerisque mauris, id sagittis nibh molestie in. Duis gravida nibh augue, ac fringilla ante ornare eu.
    p.bio-text
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eros ipsum, consequat et dictum id, laoreet ut tortor. Nullam mauris odio, laoreet quis tellus sed, aliquet pretium tellus. Aliquam molestie urna in nibh ullamcorper, dictum consequat lorem lobortis. Quisque pretium pellentesque metus, non rhoncus risus vulputate sed. Nunc eu tellus urna. Fusce feugiat leo ut ultrices dapibus. Praesent sollicitudin orci ac diam tempus maximus. Aliquam non enim quis lacus egestas dictum. In ultricies dictum risus ac tempor. Vivamus congue scelerisque mauris, id sagittis nibh molestie in. Duis gravida nibh augue, ac fringilla ante ornare eu.

  div.bio
    img.bio-picture(src="/sarah.jpg")
    h2.bio-name Sarah Fluker
    p.bio-text
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eros ipsum, consequat et dictum id, laoreet ut tortor. Nullam mauris odio, laoreet quis tellus sed, aliquet pretium tellus. Aliquam molestie urna in nibh ullamcorper, dictum consequat lorem lobortis. Quisque pretium pellentesque metus, non rhoncus risus vulputate sed. Nunc eu tellus urna. Fusce feugiat leo ut ultrices dapibus. Praesent sollicitudin orci ac diam tempus maximus. Aliquam non enim quis lacus egestas dictum. In ultricies dictum risus ac tempor. Vivamus congue scelerisque mauris, id sagittis nibh molestie in. Duis gravida nibh augue, ac fringilla ante ornare eu.
    p.bio-text
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eros ipsum, consequat et dictum id, laoreet ut tortor. Nullam mauris odio, laoreet quis tellus sed, aliquet pretium tellus. Aliquam molestie urna in nibh ullamcorper, dictum consequat lorem lobortis. Quisque pretium pellentesque metus, non rhoncus risus vulputate sed. Nunc eu tellus urna. Fusce feugiat leo ut ultrices dapibus. Praesent sollicitudin orci ac diam tempus maximus. Aliquam non enim quis lacus egestas dictum. In ultricies dictum risus ac tempor. Vivamus congue scelerisque mauris, id sagittis nibh molestie in. Duis gravida nibh augue, ac fringilla ante ornare eu.


  div.bio
    img.bio-picture(src="/bora.jpg")
    h2.bio-name Bora Moon
    p.bio-text
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eros ipsum, consequat et dictum id, laoreet ut tortor. Nullam mauris odio, laoreet quis tellus sed, aliquet pretium tellus. Aliquam molestie urna in nibh ullamcorper, dictum consequat lorem lobortis. Quisque pretium pellentesque metus, non rhoncus risus vulputate sed. Nunc eu tellus urna. Fusce feugiat leo ut ultrices dapibus. Praesent sollicitudin orci ac diam tempus maximus. Aliquam non enim quis lacus egestas dictum. In ultricies dictum risus ac tempor. Vivamus congue scelerisque mauris, id sagittis nibh molestie in. Duis gravida nibh augue, ac fringilla ante ornare eu.
    p.bio-text
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eros ipsum, consequat et dictum id, laoreet ut tortor. Nullam mauris odio, laoreet quis tellus sed, aliquet pretium tellus. Aliquam molestie urna in nibh ullamcorper, dictum consequat lorem lobortis. Quisque pretium pellentesque metus, non rhoncus risus vulputate sed. Nunc eu tellus urna. Fusce feugiat leo ut ultrices dapibus. Praesent sollicitudin orci ac diam tempus maximus. Aliquam non enim quis lacus egestas dictum. In ultricies dictum risus ac tempor. Vivamus congue scelerisque mauris, id sagittis nibh molestie in. Duis gravida nibh augue, ac fringilla ante ornare eu.
