include mixins/main

+main("Contact", 'contact')
  form(name="contact", method="POST", action="thanks", netlify)
    p
      label(for="name") Your name:
      input#name(type="text", name="name")

    p
      label(for="email") Your email:
      input#email(type="text", name="email")

    p
      label(for="message") Message:
      textarea#message(type="text", name="message")

    p
      button(type="submit") Send
