include mixins/main

+main("Contact", 'contact')
  form(name="contact", method="POST", action="thanks", netlify)
    p
      label(for="name") Name
      input#name(type="text", name="name", required)

    p
      label(for="email") Email
      input#email(type="email", name="email", required)

    p
      label(for="message") Message
      textarea#message(type="text", name="message", rows=8, required)

    p
      button(type="submit") Send
