include mixins/main

+main("About", "about")
  p
    | Interlude is an Atlanta-based reed trio dedicated to bringing quality music and music education to its community. Its members, Katie Smith (oboe), Bora Moon (clarinet), and Sarah Fluker (bassoon), are freelancers and teachers in the greater Atlanta area.
  p
    | If you are interested in hiring Interlude for an event (wedding, party, etc.) or educational masterclass (for bands, youth orchestras, or any musical institution), please see our contact page.
  div#blurb-picture
