include mixins/main

+main("About", "about")
  p
    | Interlude is an Atlanta-based reed trio dedicated to bringing quality music and music education to their communities. Its members, Katie Smith on oboe, Bora Moon on clarinet, and Sarah Fluker on bassoon, are freelancers and teachers in the greater Atlanta area.
  p
    | If you are interested in hiring Interlude for an event (wedding, party, etc.) or educational masterclass (for bands, youth orchestras, or any musical institution), please see our contact page.
  div#blurb-picture
