.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 1em;
}

.bio-picture {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-bottom: 2em;
}

hr {
  height: 1px;
  color: silver;
  background-color: silver;
  border: none;
}

@media (--md) {
  .bio {
    display: block;
  }

  .bio::after {
    content: '';
    display: block;
    clear: both;
  }

  .bio-picture {
    width: calc(var(--page-width) * 0.4);
    height: auto;
    margin-bottom: 0.5em;
  }

  .bio:nth-of-type(odd) {
    & .bio-picture {
      float: left;
      margin-right: 2em;
    }
  }

  .bio:nth-of-type(even) {
    & .bio-picture {
      float: right;
      margin-left: 2em;
    }
  }
}
