@import 'normalize.css';
@import './custom-media.css';
@import './vars.css';

@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

body, html {
  overflow-x: hidden;
}

main {
  padding: 1rem;
  max-width: var(--page-width);
  margin: 0 auto;
  font-size: 1.2em;
  font-family: 'Merriweather';
  line-height: 150%;
}
