@import 'normalize.css';
@import './custom-media.css';
@import './vars.css';

@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

body, html {
  overflow-x: hidden;
  background-color: var(--bg-color);
}

main {
  background-color: inherit;
  /* background-image: linear-gradient(180deg, #000, #aaa 1em, #ddd 1.5em, #eee 2em, #fff); */
}

.page-content {
  background-color: inherit;
  background-image: inherit;
  font-smoothing: antialiased;
  color: #dddddd;
  padding: 1rem;
  max-width: var(--page-width);
  margin: 0 auto;
  font-size: 1.1em;
  font-family: 'Merriweather';
  font-weight: 300;
  line-height: 160%;
}
