header {
  height: 30vw;
  min-height: 350px;
  max-height: calc(var(--page-width) / 2);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
  position: relative;
}

#logo {
  position: relative;
  z-index: 4;
  min-width: 320px;
  width: 100vw;
  max-width: 400px;
}

@-moz-document url-prefix() {
  #logo {
    margin-bottom: 1.1em;
  }
}

nav {
  width: inherit;
  font-size: 20px;
  font-family: 'Raleway';
  margin-bottom: 0.5rem;
  z-index: 4;

  & ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0 auto;
    max-width: var(--page-width);
  }

  & li {
    display: block;
  }

  & a {
    text-decoration: none;
    color: #999;
  }
}

body.about nav li.about a,
body.bios nav li.bios a,
body.listen nav li.listen a,
body.contact nav li.contact a {
  color: white;
  border-bottom: 1px solid #bbb;
}

.header-image {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  top: 0;
  bottom: 0;
  width: inherit;
  height: inherit;
  min-height: inherit;
  max-height: inherit;
  overflow: hidden;
  z-index: 1;

  & img {
    /* position: absolute; */
    margin-top: calc(-1 * 20vw);
    max-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    /* bottom: calc(-1 * 10vw); */
    /* left: 0; */
    /* right: 0; */
    z-index: 2;
  }
}

.header-image__overlay {
  position: fixed;
  width: inherit;
  height: inherit;
  min-height: inherit;
  max-height: inherit;
  background-image: linear-gradient(0deg, #000, rgba(255,255,255,0) 50%);
  z-index: 3;
}
