header {
  height: 30vw;
  min-height: 350px;
  max-height: calc(var(--page-width) / 2);
  width: 100%;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  & nav {
    width: 100%;
    font-size: 20px;
    font-family: 'Raleway';
    margin-bottom: 0.5rem;

    & ul {
      display: flex;
      justify-content: space-around;
      padding: 0;
      margin: 0 auto;
      max-width: var(--page-width);
    }

    & li {
      display: block;
    }

    & a {
      text-decoration: none;
      color: #999;
    }
  }
}

body.about nav li.about a,
body.bios nav li.bios a,
body.listen nav li.listen a,
body.contact nav li.contact a {
  color: white;
  font-weight: bold;
  border-bottom: 2px solid #bbb;
}
